@{
    ViewData["Title"] = "Admin";
}
<br>
<h4><center>Click here to manage</center></h4>

<a asp-controller="Laptop" asp-action="IndexAdmin"> <button>Manage laptops</button></a>
<a asp-controller="Users" asp-action="Index"> <button>Manage users</button></a>
<a asp-controller="Cart" asp-action="Index2"> <button>Manage cart items</button></a>
<a asp-controller="Wishlist" asp-action="Index"> <button>Manage Wishlist items</button></a>


<hr>
<form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="Post">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload a file:</p>
            <input type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">

<div class="container">
	<div class="row">
                <a href="#myModal" role="button" class="btn btn-custom" data-toggle="modal"><button>Upload CSV</button></a>
                        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Are you sure?</h4>
                        </div>
                                <div class="modal-body">
                                <form id="my-form">
 
                                <button type="submit"  value="Upload" class="pull-left" data-toggle="modal" data-target="#myModal">Upload</button>
                                <br>
                                <br> 
                                </form>
                                
                                </div>
                                </div>
                                </div>
                        </div>
        </div>
</div>

</div>
</form>


<td colspan="4"><a asp-area="" asp-controller="Admin" asp-action="StatisticsPage" class="btn btn-success">Go to statistics page</a></td>
