@{
    ViewData["Title"] = "Admin";
}
<h2>Admin Panel</h2>
<p>
        <a class="btn btn-default" asp-controller="Admin" asp-action="Statistics">Statistics page</a>
        <a class="btn btn-default" asp-controller="Laptop" asp-action="IndexAdmin">Manage laptops</a>
        <a class="btn btn-default" asp-controller="Users" asp-action="Index">Manage users</a>
        <a class="btn btn-default" asp-controller="Cart" asp-action="Index2">Manage cart items</a>
        <a class="btn btn-default" asp-controller="Wishlist" asp-action="Index">Manage Wishlist items</a>
</p>
<hr />

<<<<<<< HEAD
<a asp-controller="Laptop" asp-action="IndexAdmin" class="btn btn-default btn-lg"> Manage laptops</a>
<a asp-controller="Users" asp-action="Index" class="btn btn-primary btn-md"> Manage users</a>
<a asp-controller="Cart" asp-action="Index2" class="btn btn-warning btn-sm"> Manage cart items</a>
<a asp-controller="Wishlist" asp-action="Index" class="btn btn-danger btn-xs"> Manage Wishlist items</a>


<hr>
=======
>>>>>>> master
<form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="Post">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload a file:</p>
            <input type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">

<div class="container">
	<div class="row">
		<button type="submit"  value="Upload" class="pull-left btn btn-info" data-toggle="modal" data-target="#myModal">Upload CSV</button>
            <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                                <div class="modal-content">
                                        <div class="modal-header">
                                                <button type="submit" class="close" data-dismiss="modal">×</button>
                                                <h4 class="modal-title">Success</h4>
                                        </div>
                                        <div class="modal-body">
                                                <p>Your file is uploaded</p>
                                        </div>
                                        <!-- <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div> -->
                                </div>

                    </div>
            </div>
	</div>
</div>

<div>
        <!-- <button type="submit" value="Upload" class="btn btn-lg btn-success" data-toggle="popover" data-content="Success">Click to toggle popover</button> -->

        <!-- <div class="col-md-10"><head>
        <script type="text/javascript">
        function conf()
        {
        var con=confirm("Do you want to submit for sure?");
        }
        </script>
        </head>
        <body>
        <form><input type="submit" onClick="conf()"/></form>
        </body>
        <input type="submit" value="Upload" /> -->
</div>
</div>
</form>
<hr />