@{
    ViewData["Title"] = "Statistics";
}

<h2>Statistics</h2>
<a class="btn btn-success" asp-action="Index">Back</a>
<hr />
<div class="row">
    <div class="col-md-6">
        <h4>Restock list</h4>
        @if (ViewBag.ReStockCount == 0)
        {
            <p>There are no products that need a restock.</p>
            <a asp-controller="Admin" asp-action="ProductsOutOfStock" class="btn btn-primary disabled">See List</a>
        }
        else
        {
            <p>
                There are <strong>@ViewBag.ReStockCount</strong> products that need a restock.<br>
                <strong>@ViewBag.OutOfStockCount</strong> products are completely out of stock.
            </p>
            <a class="btn btn-warning" asp-controller="Admin" asp-action="ProductsOutOfStock">See List <span class="badge">@ViewBag.OutOfStockCount</span></a>
        }
    </div>
    <div class="col-md-6">
        <h4>
            Products added barchart
        </h4>
        <a class="btn btn-primary" href="Statistics/Products/ProductsAdded/All/2017">See Chart</a>
    </div>
</div>